<h1>Products collection</h1>

<p id="paragraphRender">{{data}}</p>

<h2>Add Product element ➕</h2>

<div>
    <label>Product</label>
    <input id="inputProduct" type="text">
    <p>Example: {"title":"Harry Potter Lego","description":"Videogame","price":3000,"thumbnail":"N/A","code":"Gryffindor","stock":7}</p>
</div>
<br>

<button id="btnAddProduct">Add Product</button>

<h2>Update Product ✨</h2>

<div>
    <label>Product ID to replace</label>
    <input id="inputProductID" type="text">
    <p>Example: 63f69e169004b6ab03e0cb4b</p>
    <br>
    <label>New Product to update</label>
    <input id="inputNewProduct" type="text">
    <p>Example: {"title":"Harry Potter Lego","description":"Videogame","price":3000,"thumbnail":"N/A","code":"Gryffindor","stock":7}</p>
</div>
<br>

<button id="btnUpdateProduct">Update Product</button>

<h2>Delete Product ❌</h2>

<div>
    <label>Product ID to remove</label>
    <input id="inputDeleteProductID" type="text">
    <p>Example: 63f69e169004b6ab03e0cb4b</p>
</div>
<br>

<button id="btnDeleteProduct">Remove Product</button>

<script src="js/products.js"></script>